region                = "us-east-1"
project_name          = "cloud-native"
instance_type         = "t2.micro"
ssh_public_key        = "PEGA_AQUÍ_TU_CLAVE_PÚBLICA"
ssh_cidr              = "0.0.0.0/0"
cognito_domain_prefix = "cloud-native-mi-usuario-unico"
repo_url              = "https://github.com/USUARIO/cloud-native.git"
test_user_email       = "estudiante@duoc.cl"
frontend_base_url     = "https://ec2-XX-XX-XX-XX.compute-1.amazonaws.com"
